/* CSS for the password strength checker */

meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: #808080; }
meter[value="2"]::-webkit-meter-optimum-value { background: #808080; }
meter[value="3"]::-webkit-meter-optimum-value { background: #808080; }
meter[value="4"]::-webkit-meter-optimum-value { background: #808080; }
meter[value="5"]::-webkit-meter-optimum-value { background: #009933; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: #808080; }
meter[value="2"]::-moz-meter-bar { background: #808080; }
meter[value="3"]::-moz-meter-bar { background: #808080; }
meter[value="4"]::-moz-meter-bar { background: #808080; }
meter[value="5"]::-moz-meter-bar { background: #009933; }

/* Styling for the file selector on the Edit Profile page */
#id_avatar {
  border-bottom-color: rgb(206, 212, 218);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: solid;
  border-bottom-width: 0;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(206, 212, 218);
  border-left-style: solid;
  border-left-width: 0;
  border-right-color: rgb(206, 212, 218);
  border-right-style: solid;
  border-right-width: 0;
  border-top-color: rgb(206, 212, 218);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: solid;
  border-top-width: 0;
  padding-left: 0;
}
