{% extends 'layout.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/cropper.min.css" %}">
  <link rel="stylesheet" href="{% static "css/cropper-style.css" %}">
{% endblock %}

{% block content %}
  <h1>Crop Your Avatar</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ crop_avatar_form }}
    <div class="col-5 my-3 px-0">
      <img id="image" src="{{ user.userprofile.avatar.url }}">
    </div>
    <button class="btn btn-dark" type="submit">Create New Avatar</button>
  </form>

{% endblock %}

{% block js %}
  <script src="{% static "js/cropper.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "js/crop_avatar.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
