{% extends 'layout.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/cropper.min.css" %}">
  <link rel="stylesheet" href="{% static "css/cropper-style.css" %}">
{% endblock %}

{% block content %}
  <div class="container my-4">
    <h1>Edit Profile</h1>
    <img class="pl-0 my-3" src="{{ user.userprofile.avatar.url }}" id="image">
  </div>
{% endblock %}

{% block js %}
  <script src="{% static "js/cropper.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "js/crop_avatar.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
