{% extends 'layout.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/cropper.min.css" %}">
  <link rel="stylesheet" href="{% static "css/cropper-style.css" %}">
{% endblock %}

{% block content %}
  <div class="container my-4">
    <h1>Edit Profile</h1>
    <img class="col-5 pl-0 my-3" src="{{ user.userprofile.avatar.url }}">
    <a href="{% url 'accounts:select_avatar' %}"><p class="btn btn-dark">Change Avatar</p></a>
    <form method="POST" enctype="multipart/form-data" id="formUpload">
      {% csrf_token %}
      {{ user_update_form|crispy }}
      {{ user_profile_update_form|crispy }}
      {{ user_profile_update_form.media }}
      <button class="btn btn-dark" type="submit">Save Changes</button>
    </form>
  </div>
{% endblock %}
