{% extends 'layout.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
  <div class="container my-4">
    <h1>Edit Profile</h1>
    <img class="col-3" src="{{ user.userprofile.avatar.url }}">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ user_avatar_form.as_p }}
      {{ user_update_form|crispy }}
      {{ user_profile_update_form|crispy }}
      {{ user_profile_update_form.media }}
      <button class="btn btn-dark" type="submit">Save Changes</button>
    </form>
  </div>
{% endblock %}
