{% extends 'layout.html' %}

{% block title %}{{ user.first_name }} {{ user.last_name }}'s Profile{% endblock %}

{% block content %}
<div class="jumbotron bg-primary text-white text-center">
  <h1 class="display-4 mt-3 mb-n3">{{ user.first_name }} {{ user.last_name }}</h1>
</div>
  {% if user.email %}
  <h3>Email</h3>
  <p>{{ user.email }}</p>
  {% endif %}
  {% if user_profile.bio %}
  <h3>Bio</h3>
  <p>{{ user_profile.bio|safe }}</p>
  {% endif %}
  {% if user_profile.dob %}
  <h3>DOB</h3>
  <p>{{ user_profile.dob }}</p>
  {% endif %}
  {% if user_profile.location %}
  <h3>Location</h3>
  <p>{{ user_profile.location }}</p>
  {% endif %}
  {% if user_profile.ice_cream_flavor %}
  <h3>Ice Cream Flavor</h3>
  <p>{{ user_profile.ice_cream_flavor }}</p>
  {% endif %}

<hr>

<p><a href="{% url 'accounts:edit' %}">Edit your profile</a></p>
<p><a href="{% url 'accounts:change_password' %}">Change password</a></p>
{% endblock %}
