{% extends 'layout.html' %}

{% block title %}
  {% if user.first_name %}
    {{ user.first_name }}'s Profile
    {% else %}
    {{ user.username }} | Profile
  {% endif %}
{% endblock %}

{% block content %}
  <div class="jumbotron">

    <img class="col-3" src="{{ user.userprofile.avatar.url }}">
    {% if user.first_name or user.last_name %}
      <h1 class="display-4 ml-2 list-inline-item align-bottom">{{ user.first_name }} {{ user.last_name }}</h1>
    {% else %}
      <h1 class="display-4 ml-2 list-inline-item align-bottom">{{ user.username }}</h1>
    {% endif %}
  </div>
  <div class="container mt-2">
    {% if user.email %}
    <h3>Email</h3>
    <p>{{ user.email }}</p>
    {% endif %}
    {% if user_profile.bio %}
    <h3>Bio</h3>
    <p>{{ user_profile.bio|safe }}</p>
    {% endif %}
    {% if user_profile.dob %}
    <h3>DOB</h3>
    <p>{{ user_profile.dob }}</p>
    {% endif %}
    {% if user_profile.location %}
    <h3>Location</h3>
    <p>{{ user_profile.location }}</p>
    {% endif %}
    {% if user_profile.hobby %}
    <h3>Favorite Hobby</h3>
    <p>{{ user_profile.hobby }}</p>
    {% endif %}
  </div>
    <hr>
  <div class="container">
    <p><a href="{% url 'accounts:edit' %}" class="text-dark text-decoration-none"><i data-feather="edit" class="align-top"></i> Edit your profile</a> | <a href="{% url 'accounts:change_password' %}" class="text-dark text-decoration-none"><i data-feather="unlock" class="align-top"></i> Change your password</a></p>
  </div>
{% endblock %}
