{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
  <img class="account-img" src='{{ user.userprofile.avatar.url }}'>
  <h1>Profile</h1>
  <h2>First Name</h2>
  <p>{{ user.first_name }}</p>
  <h2>Last Name</h2>
  <p>{{ user.last_name }}</p>
  <h2>Email</h2>
  <p>{{ user.email }}</p>
  <h2>Location</h2>
  <p>{{ user_profile.location }}</p>
  <h2>Ice Cream Flavor</h2>
  <p>{{ user_profile.ice_cream_flavor }}</p>

  <p><a href="{% url 'accounts:edit' %}">Edit your profile</a></p>
{% endblock %}
