{% extends 'layout.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
  <h1>Choose a Photo to Crop</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_avatar_form|crispy }}
    <a href="{% url 'accounts:edit' %}"><button type="button" class="btn btn-secondary" name="cancel">Cancel</button></a>
    <button class="btn btn-dark" type="submit">Continue to Crop<i data-feather="arrow-right"></i></button>
    <p>* If you continue to crop you will not be able to revert to your previous avatar.</p>
  </form>

{% endblock %}
