{% extends 'layout.html' %}

{% block title %}Home{% endblock %}


{% block content %}
  <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px">
    {% if user.is_authenticated %}
      {% if user.first_name %}
        <h1 class="display-4 mb-4 text-center">Hello, {{ user.first_name }}!</h1>
      {% else %}
        <h1 class="display-4 mb-4 text-center">Hello, {{ user.username }}!</h1>
      {% endif %}
      {% if not user.first_name %}
        <p class="lead text-center"><a class="text-black-50 text-decoration-none" href="{% url 'accounts:edit' %}">Add some information</a> to your <a class="text-black-50 text-decoration-none" href="{% url 'accounts:profile' %}">profile</p>
      {% else %}
        <img class="col-3 mx-auto d-block" src="{{ user.userprofile.avatar.url }}">
        <p class="lead mt-2 text-center">Check out your <a class="text-black-50 text-decoration-none" href="{% url 'accounts:profile' %}">profile</a>!</p>
      {% endif %}
    {% else %}
      <h1 class="display-4 text-center">Sign up and create a profile!</h1>
      <p class="lead mt-2 text-center"><a class="text-black-50 text-decoration-none" href="{% url 'accounts:register' %}">Register</a> a new account, or <a class="text-black-50 text-decoration-none" href="{% url 'accounts:login' %}">login</a> if you already have one</p>
    {% endif %}
  </div>
{% endblock %}
