{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS, Popper, and Javascript -->
    <script src="{% static "js/jquery-3.4.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Feather for Bootstrap icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

    <link rel="stylesheet" href="{% static "css/global.css" %}">
    {% block head %}{% endblock %}
  </head>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark navbar-default px-5">
      <ul class="navbar-nav navbar-left mx-5 px-5">
        <li class="nav-item{{ index_page }} "><a class="nav-link" href="{% url 'index' %}"><i data-feather="home" class="align-top"></i> Home</a></li>
      </ul>
      <ul class="navbar-nav navbar-left mx-5 px-5">
        {% if not user.is_authenticated %}
          <li class="nav-item {{ registration_page }}"><a class="nav-link" href="{% url 'accounts:register' %}">Register</a></li>
          <li class="nav-item {{ login_page }}"><a class="nav-link" href="{% url 'accounts:login' %}">Login <i data-feather="log-in"></i></a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link ml-1" href="{% url 'accounts:logout' %}"><i data-feather="log-out"></i> Logout</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <body>


    <!-- Messages -->
    <div class="" id="flash_messages">
      {% if messages %}
          <div class="">
              <div class="">
                  {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}">
                          {{ message }}
                      </div>
                  {% endfor %}
              </div>
          </div>
      {% endif %}
    </div>

    <!-- Page Content -->
    <div class="container">{% block content %}{% endblock %}</div>

    <!-- Feather script -->
    <script>feather.replace({ 'height': 20, 'stroke-width': 2 })</script>

    <!-- Custom jQuery for Bootstrap -->
    <script src="{% static "js/user_profile.js" %}" type="text/javascript" charset="utf-8"></script>
    {% block js %}{% endblock %}
  </body>
</html>
